/*login界面css美化*/
body {
    background: linear-gradient(135deg, #e0e0ff, #99ccff);
}

/* 登录卡片的样式 */
.login-card {
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

/* 标题的样式 */
.login-title {
    font-size: 1.75rem;
    font-weight: bold;
    color: #104E8B;
}

/* 输入框的样式 */
.form-control {
    border-radius: 5px;
    height: 50px;
}

/* 按钮样式 */
.btn-primary {
    background-color: #104E8B;
    border-color: #104E8B;
}

.btn-primary:hover {
    background-color: #0e3e6b;
    border-color: #0e3e6b;
}

/* 链接样式 */
.text-muted a {
    color: #104E8B;
}

.text-muted a:hover {
    text-decoration: underline;
}