{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>大瓦特接口</title>
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
    <style>
        .reply-content {
            white-space: pre-wrap; /* 保持换行符和空格 */
        }
    </style>
</head>
<body>
    <div class="box">
        <div id="content">
            <div id="chat-box" class="info_box">
                <!-- 聊天记录将被插入到这里 -->
            </div>
            <form id="chat-form">
                {% csrf_token %}
                <textarea id="user_input" name="user_input" placeholder="尽情畅聊吧" required></textarea>
                <button type="submit">发送</button>
            </form>
        </div>
    </div>

    <script src="{% static 'js/chat.js' %}"></script>
</body>
</html>
